@charset "UTF-8";

body	{ top:0; left:0;}
span	{ width:40%;}

.moduleList{
 	display : flex;
    border: 2px solid;
    justify-content: space-evenly;
}
#moduleList {
	display: flex;
}

.module{
    color: #fff;
    display: flex;
    position: relative;
    border: 1px solid rgba(255, 187, 0, 1);
    flex-direction: column;
    align-content: center;
}

.ModuleList, .JobList, .ModuleJobList, .MethodList {
	display : flex;
	flex-flow : nowrap;
	flex-direction: column;
	justify-content: space-evenly;
	border: 2px solid;
}

/* PMS Template */
#plzec-zone	{
	position:absolute; top:3px; left:3px; 
	width:calc(100% - 3px); height:calc(100% + 100rem);background-color: rgba(76,76,76,1);
}
#menu-icon	{ float:left;
	width: 50px; height: 50px;
	border-right: 3px solid rgba(255, 255, 255, 1);
	border-bottom: 3px solid rgba(255, 255, 255, 1);
	background-color: rgba(33,33,33,1); color: rgba(255,187,0,1);
	font-size:2.5rem; text-align:center; line-height:40px;
	overflow:hidden;
}

#menu-icon:hover	{background-color:rgba(255,187,0,1); color:rgba(33,33,33,1);
	cursor:pointer;
	border-right-color:rgba(0, 0, 0, 1);
	border-bottom-color:rgba(0, 0, 0, 1);} 

.line	{
	width:42px; height:5px;
	background-color:rgba(255,255,255,1);margin:9px auto;
	transition-duration:0.5s;}

#menu-icon:hover #top{
	transform:translateY(15px) rotate(90deg);
	background-color:rgba(0,0,0,1)
}
#menu-icon:hover #mid{
	opacity:0;
}
#menu-icon:hover #btm{
	transform:translateY(-15px);
	background-color:rgba(0,0,0,1)
}


#notice-zone{ float:left;
	width: calc(100% - 56px); height: 50px;
	border-right: 3px solid rgba(255, 255, 255, 1);
	border-bottom: 3px solid rgba(255, 255, 255, 1); 
	background-color: rgba(255,187,0,1);
}

#notice	{position:relative; float:left; 
	top:50%;left:10%; transform:translate(-18%, -50%);
	width:50%; height:70%;
	background-color:rgba(33, 33, 33, 0.25);color:rgba(255,255,255,1);
	border-radius:5px;}
	
#notice-icon	{float:left; 
	width:7%;height:100%;
/* 	background-image: url('/res/images/megaphone.png'); */
	background-size:contain; background-repeat:no-repeat;}

#notice-article	{float:right;
	width:90%;height:100%; line-height:35px;
}

#my-info	{position:relative; float:left; 
	top:50%;left:10%; transform:translate(30%, -50%);
	width:30%; height:70%;line-height:35px; text-align:center;
	background-color:rgba(33, 33, 33, 0.25);color:rgba(255,255,255,1);
	border-radius:5px;}

#menues	{ float:left;
	width: 50px; height: calc(100% - 56px); 
	border-right: 3px solid rgba(255, 255, 255, 1);
	border-bottom: 3px solid rgba(255, 255, 255, 1);
	background-color: rgba(255,187,0,1); 
}

#content{ 
	position : relative;
	margin-top : 5%;
	float:left;
	width: calc(100% - 56px); height: calc(100% - 56px);
	border-right: 3px solid rgba(255, 255, 255, 1);
	border-bottom: 3px solid rgba(255, 255, 255, 1); 
}



/* LightBox */	
.canvas	{position:absolute; top:0; left:0;
	width:100%; height:100%;background-color: rgba(76,76,76,0.7);
	display:none;}

.light-box	{ position:absolute; 
	top:50%;left:50%; transform:translate(-50%, -50%);
	width:40%;height:40%;background-color: rgba(255,187,0,1);
	border-radius:10px;}

.light-box-big	{ position:absolute; 
	top:50%;left:50%; transform:translate(-50%, -50%);
	width:50%;height:55.5%;background-color: rgba(255,187,0,1);
	border-radius:10px;}
	
.lightbox{float:left;}
.lightbox.image{
	width:30%;height:100%; border-radius:10px 0px 0px 10px;
	/* background-image: url('/res/images/hoonzzang.jpg'); background-size:contain; */
	background-repeat:no-repeat;}
.lightbox.content{ width:70%;height:100%; border-radius:0px 10px 10px 0px;}

#cheader{ width:100%; height:20%; border-radius:0px 10px 0px 0px;
	font-size:1.3rem; font-weight:900;}
#cbody{ width:100%; height:65%; border-radius:0px 0px 0px 0px; text-align:center;}
#cfooter{ width:100%; height:15%; border-radius:0px 0px 10px 0px;}

.box	{margin-top:10px;text-align:center;
	width:80%; height:25px; background-color:rgba(255,187,0,1);
	border:1px solid #FFFFFF; border-radius:20px;
	font-size:1rem;color:#FFFFFF;transition:0.5s;
}
.box.item{margin:10px auto;width:90%;height:35px;line-height:35px;}
.box.item.title{margin:20px auto;width:90%;height:50px; 
		font-size:1.3rem;line-height:50px; background-color:rgba(0,66,237,0.8);
		border-radius:5px;}
.box.item.textareabox	{ width:90%; height:45%;}
.box.multi 	{margin:10px auto; width:90%; height:50px; border-radius:5px;}
span.small	{font-size:0.8rem;}
span.general{font-size:1.1rem;}

.box.multi:hover	{background-color:rgba(255,0,127,0.5); 
	transform:translateX(15%); box-shadow: 0 10px 10px rgba(0,0,0,0.3);}
.box.multi.invite:hover	{background-color:rgba(255,0,127,0.5); 
	transform:translateX(-15%); box-shadow: 0 10px 10px rgba(0,0,0,0.3);}
.box:focus	{background-color:rgba(255,0,127,0.5); 
	transform:translateX(15%); box-shadow: 0 10px 10px rgba(0,0,0,0.3);}

.btn	{position:relative; float:left; margin-top:1%;margin-left:5% ;text-align:center; 
	width:90%; height:30px; overflow:hidden; 
	background-color:rgba(204,166,61,1);	border:1px solid #FFFFFF; border-radius:5px;
	color:#FFFFFF;font-weight:900; font-size:1rem; 
	cursor:pointer; transition:0.5s;
}

.btn.small{width:40%;}
.btn:hover {background-color:rgba(255,0,127,0.5); 
	transform:translateX(13%); box-shadow: 0 10px 10px rgba(0,0,0,0.3);}

#invitationInfo{height:25%;margin-left:5px;}
.invitation {float:left; 
	width:48.5%; height:100%; margin:10px 5px 10px 10px;
	border:1px solid rgba(255,187,0,1); }
.notice		{width:100%; height:30px; background-color:rgba(255,187,0,1);
	color:rgba(255,255,255,1); text-align:center;line-height:30px;}
	
#senderItems, #receiverItems, .invitationList	{width:100%;margin:10px 0px 0px 0px;}
.invitationList 	{ height: 60%; overflow-x:hidden;overflow-y:auto;}
.member	{width:100%; height: 35px;  margin:5px 0px; line-height:35px;}
.member:hover	{ background-color:rgba(213, 213, 213, 1);cursor:pointer;}	
.items	{height:30px; height:100%; float:left;
	text-align:center;color:rgba(255,255,255,1);}
.items.name	{width:15%;}
.items.invite {width:30%;}
.items.expire {width:30%;}
.items.accept {width:20%;margin: 0 auto;}

.menu	{width:80%;height:6.5%;line-height:2.5rem;margin: 10px auto;
		border: 1px solid rgba(255,255,255,1);
		text-align:center; font-weight:900; color:rgba(255,255,255,1);}
.menu:hover	{color:rgba(255,187,0,1); background-color:rgba(255,255,255,1);
		cursor:pointer;}